body, html{
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;
}

.content{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.visibility-hidden{
    visibility: hidden;
}
.add-note-input-container{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 30%;
    left: 30%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: grey;
    width: 50%;
    border-radius: 10px;
}

.main-client{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80% 20%;
    height: 100vh;
    width: 100vw;
}

.main-client > div:nth-child(n){
    background-color: grey;
}
.main-client > div:nth-child(2n){
    background-color: rgb(163, 163, 163);
}
.main-client > div:nth-child(3n){
    background-color: rgb(77, 77, 77);
}


.main-client > *{
    height: 100%;
    width: 100%;
}

.notes-container{
    grid-row: span 2 ;
    overflow: auto;
}

.projects-container > ul{
    padding: 0;
}
.projects-list > li{
    list-style: none;
    padding-left: 20px;
    margin: 1rem auto;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
    position: absolute;
    opacity: .5;
}

.add-note-input-container li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.add-note-input-container li + li{
    margin-top: 1rem;
}

.add-note-input-container li input, .add-note-input-container li textarea, .add-note-input-container li select{
    width: 44rem;
}

.add-note-input-container li textarea{
    resize: vertical;
}

.add-note-input-container > ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 2rem;
    width: 100%;
}

.add-note-input-container > ul li:last-child{
    justify-content: center;
}


.current-project {
    background-color: red;
}

.note-container{
    display: flex;
    justify-content: space-around;
}